        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href=<%= "http://www.codechef.com/" + ongoing[3*i].code%> >
                            <img src="/images/codechef.png">
                          </a >
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href=<%= "http://www.codechef.com/" + ongoing[3*i].code%> >
                                      <%= ongoing[3*i].name %>
                                  </a>
                                </h4>
                                <p class="">
                                    Ends at: <%=ongoing[3*i].endDate %>+UTC
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href=<%= "http://www.codechef.com/" + ongoing[3*i].code%> class="btn btn-link btn-block">
                                    Go to Contest
                                </a>
                            </div>
                        </div>
                    </div>
                    <% if(3*i+1< length) {%> 
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href=<%= "http://www.codechef.com/" + ongoing[3*i+1].code%> >
                            <img src="/images/codechef.png">
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href=<%= "http://www.codechef.com/" + ongoing[3*i+1].code%> >
                                      <%= ongoing[3*i+1].name %>
                                  </a>
                                </h4>
                                <p class="">
                                    Ends at: 
                                      <%=ongoing[3*i+1].endDate %>+UTC
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href=<%= "http://www.codechef.com/" + ongoing[3*i+1].code%>  class="btn btn-link btn-block">
                                    Go to Contest
                                </a>
                            </div>
                        </div>
                    </div>
                    <%}%>

                    <% if(3*i+2< length) {%>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href=<%= "http://www.codechef.com/" + ongoing[3*i+2].code%>  >
                             <img src="/images/codechef.png">
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href=<%= "http://www.codechef.com/" + ongoing[3*i+2].code%> >
                                      <%=ongoing[3*i+2].name %>
                                  </a>
                                </h4>
                                <p class="">

                                    Ends at:                                       <%=ongoing[3*i+2].endDate %>+UTC
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href=<%= "http://www.codechef.com/" + ongoing[3*i+2].code%>  class="btn btn-link btn-block">
                                    Go to Contest
                                </a>
                            </div>
                        </div>
                    </div>

                    <%}%>
                </div>
            </div>
        </div>