<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Articles | LearnFromChef</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/styles/prism.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style media="screen">
      .mainBody{
        margin: 8%;
        position: relative;
      }

      .fa{
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <% include ../partials/header %>
    <% var number = parseInt(author['band']['0']); %>
    <% if(number == 1)
        color="grey";
       else if(number == 2)
        color="green";
      else if(number == 3)
          color="blue";
      else if(number == 4)
        color= "purple";
      else if(number == 5)
        color= "yellow";
      else if(number == 6)
        color= "orange";
      else if(number == 7)
        color= "red";
      else
        color="grey";
    %>

    <div class="mainBody">
      <center><u><h1 style="text-decoration: underline, font-family: cursive"><%= article['title'] %></h1></u></center>
      <br>
        <div class="container" style="position:relative;width:80%; margin-left:10%">
          <div class="row" style="border:1px solid;padding:20px">
            <div class="col-lg-2 col-md-2 col-xs-4 gravatarImage">
              <center>
                <img class="img img-circle" style="background-color: #cff" src= <%= "https://www.gravatar.com/avatar/" + gravatar + "?d=robohash" %> \>
                <br>
                <% for(var i=0; i < number ; i++) { %>
                  <span <%= "style=color:" + color %> class="fa fa-star checked"></span>
                <% } %>
              </center>
            </div>
            <div class="col-lg-5 col-md-6 col-xs-6 authorBio">
              <h4><%= author['fullname'] %></h4>
              <b>Username:</b>&nbsp;&nbsp;<span class="rating" style="display: inline-block;
                    font-size: 10px;
                    padding: 0 3px;
                    background-color: <%= color %>;
                    line-height: 1.3;
                    color: white;
                    margin-right: 2px;"> <%= author['band'][0] %>★</span><span>&nbsp; <%= author['codechefId'] %></span>
                    <br>
                    <br>
              <div class="container-fluid" style="padding:0px">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <a class="articlesLink" href="/articles/users/<%= author['codechefId'] %>"><button type="button" class="btn btn-sm btn-info">View Articles</button></a>
                  </div>
                  <div class="col-xs-6">
                    <% if(followingBool){ %>
                      <a class="followLink" id="alreadyFollowing" href="#"><button type="button" class="btn btn-sm btn-basic">Following</button></a>
                    <% } else { %>
                      <a class="followLink" id="<%= author['codechefId'] %>"><button type="button" class="btn btn-sm btn-info">Follow</button></a>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <hr>
      <%- article['content'] %>

      <hr>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6">
            <% for( var i=1; i <= article['tags'].length ; i++){
              if( i%4 == 0){ %>
                <br><br>
              <% } %>
              <a href="#!" style="background-color: rgba(0,0,0,.14); padding:10px; border-radius:20px"><%= article['tags'][i-1] %></a>
            <% } %>
          </div>
          <div class="col-xs-6">
            <div class="reactions pull-right">
              <%
              var likedColor = 'black';
              var dislikedColor = 'black';

              if(dislikedBool){
                dislikedColor = 'red';
              }

              if(likedBool){
                likedColor = 'blue';
              }
              %>

              <% if( user && (user === author['codechefId']) ) { %>
                <a href="/articles/edit?id=<%= article['_id'] %>"><i class="fa fa-2x fa-pencil" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <% } %>
              <i class="fa fa-2x fa-thumbs-o-up" id="like" style="color: <%= likedColor %>" aria-hidden="true"><span style="font-size:12px"><%= article['likes'] %></span></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="fa fa-2x fa-thumbs-o-down" id="dislike" style="color: <%= dislikedColor %>" aria-hidden="true"><span style="font-size:12px"><%= article['dislikes'] %></span></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <% if(user) {
                    var bookmarkClass = '-o';
                    var bookmarkColor = 'black';

                    if(bookmarkedBool){
                      bookmarkClass = '';
                      bookmarkColor = 'blue';
                    }
                %>
                <i class="fa fa-2x fa-bookmark<%= bookmarkClass %>" id="bookmark" style="color: <%= bookmarkColor %>" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <% } %>
            </div>
          </div>
        </div>
      </div>

      <br><br><hr>
      <div id="disqus_thread"></div>
    </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    var id = "<%= article['_id'] %>";
  </script>
  <script type="text/javascript" src="/scripts/showIdArticle.js"></script>
  <script type="text/javascript" src="/scripts/prism.js"></script>

  <script>

    var disqus_config = function () {
    this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = id; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://learnfromchef.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();

  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  </body>
</html>
